<span id='like-link'>
<%if current_user.voted_for?(micropost)%>
<%= link_to '<i class="fa fa-heart" style="color:red"></i>'.html_safe, like_user_micropost_path(micropost), method: :post, remote: true %>
<%else%>
<%= link_to '<i class="fa fa-heart-o" style="color:red"></i>'.html_safe, like_user_micropost_path(micropost), method: :post, remote: true %>
<%end%>
</span>